.sub-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sub-list-title {
  font-size: 28px;
  margin: 0 0 30px;
  padding: 0 0 18px;
}
.sub-list-select {
  display: flex;
  font-size: 14px;
}
.sub-list-btn {
  border: 1px solid #e1e1e1;
  color: #2e2e2e;
  padding: 12px 20px;
  margin: 0 3px 5px 3px;
  line-height: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination ol {
  font-weight: bold;
  font-size: 12px;
  color: #939393;
}
.page-first {
  display: inline-block;
  width: 32px;
  border: 1px solid #d7d5d5;
  text-align: center;
}
.page {
  display: inline-block;
  width: 32px;
  border: 1px solid #d7d5d5;
  border-left: none;
  text-align: center;
}

.num-selected {
  border-bottom: 3px solid black;
  padding: 10px 0 7px 0;
  color: black;
}
.num {
  padding: 10px 0;
}
