.sub-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sub-list-title {
  font-size: 28px;
  margin: 0 0 30px;
  padding: 0 0 18px;
}
.sub-list-select {
  display: flex;
  font-size: 14px;
  cursor: pointer;
}
.sub-list-btn {
  border: 1px solid #e1e1e1;
  color: #2e2e2e;
  padding: 12px 20px;
  margin: 0 3px 5px 3px;
  line-height: 14px;
  background-color: white;
}
.sub-list-btn:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 12px 20px;
  margin: 0 3px 5px 3px;
  line-height: 14px;
  cursor: pointer;
}
.sub-list-btn-selected {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 12px 20px;
  margin: 0 3px 5px 3px;
  line-height: 14px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination ol {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  color: #939393;
}
.pagination li {
  height: 32px;
}
.page-first {
  display: inline-block;
  width: 32px;
  border: 1px solid #d7d5d5;
  text-align: center;
}
.page {
  display: inline-block;
  width: 32px;
  border: 1px solid #d7d5d5;
  border-left: none;
  text-align: center;
}

.selected {
  border: none;
  background: white;
  width: 100%;
  height: 2rem;
  border-bottom: 3px solid black;
  color: black;
  cursor: pointer;
  line-height: 2.3;
}
.num {
  border: none;
  background: white;
  color: #9393af;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}

.first-page {
  border: none;
  border: 1px solid #d7d5d5;
  width: 34px;
  background-image: url("/first.gif");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.prev-page {
  border: none;
  border-top: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  width: 34px;
  background-image: url("/prev.gif");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.next-page {
  border: none;
  border-top: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  width: 34px;
  background-image: url("/next.gif");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.end-page {
  border: none;
  border: 1px solid #d7d5d5;
  width: 34px;
  background-image: url("/end.gif");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
